* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    background-image: url(/src/img/Fundo.png);
  }
  
  .box {
    background-color: aliceblue;
    border-radius: 20px;
    height: 600px;
    width: 900px;
    transition: 0.2s;
  }

  .title {
    font-size: 30px;
    font-family: 'Press Start 2P';
    color: #ffcc00;
    text-shadow: 
      -1px -1px 0 #2a75bb, 
       1px -1px 0 #2a75bb, 
      -1px  1px 0 #2a75bb, 
       1px  1px 0 #2a75bb; /* Contorno azul */
    text-align: center;
  }
  
  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    transition: 0.2s;
    button {
      margin: 30px;
      padding: 20px 35px 20px 35px;
      background-color:gray;
      border-radius: 30px;
      color: #ffcc00;
      text-shadow: 
      -1px -1px 0 #2a75bb, 
       1px -1px 0 #2a75bb, 
      -1px  1px 0 #2a75bb, 
       1px  1px 0 #2a75bb; /* Contorno azul */
      font-size: 20px;
      transition: 0.2s;
    } :hover {
      transition: 0.2s;
      background-color: #2a75bb;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      padding: 26px 35px 26px 35px;
    }

  }