

  .container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .box {
    background-image: url(../img/fundodex.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
  }

  .title {
    margin-left: 10%;
    font-size: 30px;
    font-family: 'Press Start 2P';
    color: #ffcc00;
    text-shadow: 
      -1px -1px 0 #2a75bb, 
       1px -1px 0 #2a75bb, 
      -1px  1px 0 #2a75bb, 
       1px  1px 0 #2a75bb; /* Contorno azul */
    text-align: center;
  }
  
  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 5%;
  }

  .Char {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
    
  }

  .options {
    width: 220px;
    height: 600px;
    background-color: rgb(171, 0, 0);
    border-radius: 20px;
    display: flex;
    justify-content:center;
    padding: 10px;
    transition: 0.2s;
    position: relative;
    
    button{
      width: 100%;
      background-image: url("../img/fundobtn.png");
      background-position: center;
      background-size: cover;
      border-radius: 20px;
      padding: 50px;
    }

    img:hover{
      transition: 0.2s all;
      padding: 10px;
    }

  }