.boxList {
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1%;
}

.pkmn {
    background-color: gainsboro;
    width: 400px;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
    margin: 2%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    text-transform: capitalize;
}

.pkmn:hover {
    background-color: lightgray;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 405px;
    padding: 55px;
    color: #ffcc00;
    text-shadow:
        -1px -1px 0 #2a75bb,
        1px -1px 0 #2a75bb,
        -1px 1px 0 #2a75bb,
        1px 1px 0 #2a75bb;

}

.idnumero {
    font-size: 20px;
    margin-bottom: 10px;
    color: lightgray;
    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;

}

.tipos {
    font-size: 14px;
    margin-top: 10px;

}

.More {
    background-color: brown;
    padding: 2px 30px 2px 30px;
    font-size: 15px;
    border-radius: 20px;
    
}

.page {
    display: flex;
    position:fixed;
    margin-top: 450px;
    
    button {
        color: white;
        margin-right: 5px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
}